@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
/* Default background to fix coloring*/
body {
  background-color: hsl(var(--b2));
  margin: 0;
  color: white;
}

html,body{
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  padding: 40px 20vw;
}

.custom-shape-divider-bottom-1674077680 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  pointer-events: none;
}

.custom-shape-divider-bottom-1674077680 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 125px;
  pointer-events: none;
}

.custom-shape-divider-bottom-1674077680 .shape-fill {
  fill: hsl(var(--b2));
  pointer-events: none;
}

.wave-gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100px 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.custom-shape-divider-bottom-1674078160 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674078160 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 133px;
  pointer-events: none;

}

.custom-shape-divider-bottom-1674078160 .shape-fill {
  fill: #21222C;
}
